footer {
  background-color: #201f1f; 
  color: whitesmoke; 
  text-align: center;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  bottom: 0;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5); 
}

footer p {
  margin: 0;
  font-size: 14px;
  color: #b3b3b3; 
}
